/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
}

.login-button {
  background-color: #e62d2d;
  border-color: #e62d2d;
  margin-bottom: 1rem;

  &:hover {
    background-color: darken(#e62d2d, 20%);
  }
}

.display-4 {
  margin-bottom: 1rem;
}
